.image-thumbnail{
    float: left;
    margin-bottom: 20px;
}

.profile-header-main{
    float: left;
    margin-left: 60px;
}

.profile-header-plug{
    float: right;
    margin-top: 65px;
    margin-right: 120px;
}

.post-list-time{
    float: right;
    font-size: 15px;
    color: gray;
}

.post-list-title{
    margin-bottom: 8px;
}

.post-list-bottom{
    margin-bottom: 10px;
}

.post-list-content{
    min-height: 60px;
    word-wrap: break-word;
    word-break: break-all;
}

.post-list-label{
    float: right;
}

.page-bottom-left{
    margin-bottom: 50px;
}

.post-title{
    float: left;
}

.post-info{
    margin-top: 25px;
    float: right;
    text-align: center;
    font-weight: bold;
}

.post-content{
    word-wrap: break-word;
    word-break: break-all;
}

.message-list-content{
    min-height: 20px;
    word-wrap: break-word;
    word-break: break-all;
}

.message-list-label{
    float: right;
}

.relation{
    margin-top: 50px;
}

.comment-list-time{
    float: right;
    font-size: 10px;
    color: gray;
}

.comment-list-title{
    margin-bottom: 3px;
}

.comment-list-content{
    min-height: 0px;
    word-wrap: break-word;
    word-break: break-all;
}

.comment-list{
    margin-left: 6%;
}

.comment-form{
    margin-bottom: 50px;
}

.comment-list-button{
    float: right;
}

footer{
    height: 160px;
    background-color: #2a2730;
    color: gray;
    padding: 40px 10px 50px 50px;
}

.main-picture{
    height: 700px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}

.fixed-footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-links{
    font-weight: bold;
}
.footer-links a{
    color: white;
    margin-right: 30px;
}

.caption p{
    text-align: center;
}

.caption i{
    display: block;
    text-align: center;
    font-weight: bold;
}

.search-form{
    position: relative;
    top: 50%;
    text-align: center;
}

.search-form-text{
    width: 500px;
    height: 40px;
    font-size: 25px;
}

.search-form-submit{
    width: 100px;
    height: 40px;
    position: relative;
    top: -5px;
    left: -3px;
    background-color: gray-light;
    font-weight: bold;
}