.image-thumbnail{
    float: left;
    margin-bottom: 20px;
}

.profile-header-main {
    float: left;
    margin-left: 60px;
}

.profile-header-plug{
    float: right;
    margin-top: 65px;
    margin-right: 120px;
}

.post-list-time{
    float: right;
    font-size: 15px;
    color: gray;
}

.post-list-title{
    margin-bottom: 8px;
}

.post-list-bottom{
    margin-bottom: 10px;
}

.post-list-content{
    min-height: 60px;
}

.post-list-label{
    float: right;
}

.page-bottom-left{
    margin-bottom: 30px;
}

.post-title{
    float: left;
}

.post-info{
    float: right;
}

.relation{
    margin-top: 50px;
}

.comment-list-time{
    float: right;
    font-size: 10px;
    color: gray;
}

.comment-list-title{
    margin-bottom: 3px;
}

.comment-list-content{
    min-height: 0px;
}

.comment-list{
    margin-left: 6%;
}

.comment-form{
    margin-bottom: 50px;
}