{% extends "base.html" %}

{% import "_pagination.html" as page_widget %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<!--Modal-->
<div class="modal fade" id="sendMessage" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Send message to {{user.username}}</h4>
            </div>
            <form method="POST">
                <div class="modal-body">
                    {{ message_form.hidden_tag() }}<!--跨站请求伪造攻击防御-->
                    {{ message_form.content.label }}<br/>
                    {{ message_form.content(class="form-control") }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    {{ message_form.submit(class="btn btn-primary") }}
                </div>
            </form>
        </div>
    </div>
</div>
<div class="page-header">
    <img src="{{ user.make_gravatar_url(256) }}" alt="headImage" class="img-rounded img-responsive image-thumbnail">
    <div class="profile-header-main">
        <h1 style="display:inline;">
            {{ user.username }}
            {% if user.name %}
            <small>{{ user.name }}</small>
            {% endif %}
            {% if current_user.is_authenticated and current_user != user %}
            &nbsp;
            <h4 style="display:inline;">
                <a class="glyphicon glyphicon-envelope" data-toggle="modal" data-target="#sendMessage"></a>
            </h4>
            {% endif %}
        </h1>
        <p>
        <h3>
            {{ user.email }}<br/>
            {% if user.location %}
            <div style="margin-top:15px;">
                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>&nbsp;
                <a href="http://www.openstreetmap.org/search?query={{ user.location }}" target="_Blank">
                    {{ user.location }}
                </a>
            </div>
            {% endif %}
        </h3>
        </p>
        <p>
        <h4>
            {% if user.about_me %}
            {{ user.about_me }}<br/>
            {% endif %}
        </h4>
        </p>
        <p>
            <b>Joined at</b> {{ moment(user.member_since).format('LLL') }}<br/>
            <b>Last visited</b> {{ moment(user.last_seen).fromNow(refresh=True) }}
        </p>
        {% if current_user == user %}
        <a class="btn btn-primary" href="{{ url_for('main.edit_profile') }}" role="button">Edit Profile</a>
        {% endif %}
        {% if current_user.is_administrator() %}
        <a class="btn btn-danger" href="{{ url_for('main.admin_edit_profile',user_id=user.id) }}" role="button">
            Edit Profile[Admin]
        </a>
        {% endif %}
        {% if current_user.is_authenticated and current_user!=user and current_user.check_permit(Permit.follow) %}
        {% if current_user.is_following(user) %}
        <a href="{{ url_for('main.unfollow',username=user.username) }}" class="btn btn-warning">UnFollow</a>
        {% else %}
        <a href="{{ url_for('main.follow',username=user.username) }}" class="btn btn-success">Follow</a>
        {% endif %}
        {% if user.is_following(current_user) %}
        &nbsp;&nbsp;|&nbsp;&nbsp;<span class="label label-info">I have followed you.</span>
        {% endif %}
        {% endif %}
    </div>
    <div class="profile-header-plug">
        <a href="{{ url_for('main.show_idols', username=user.username) }}">
            Idols: <span class="badge">{{ user.idol_list.count() }}</span>
        </a>,&nbsp;
        <a href="{{ url_for('main.show_fans', username=user.username) }}">
            Fans: <span class="badge">{{ user.fans_list.count() }}</span>
        </a>
        <br/><br/>
        <i>{{ user.post_list.count() }} posts, {{ user.comment_list.count() }} comments</i>
    </div>
    <div class="clearfix"></div>
</div>
<h3>Posts by {{ user.username }}</h3>
<div>
    {% include "article/_article_list.html" %}
    {% if pagination %}
    {{ page_widget.pagination_widget(pagination, 'main.user_profile', username=user.username) }}
    {% endif %}
</div>
{% endblock %}