{% extends "base.html" %}

{% import "_pagination.html" as page_widget %}

{% block page_content %}
<div class="page-header">
    <img src="{{ user.make_gravatar_url(256) }}" alt="headImage" class="img-rounded img-responsive image-thumbnail">
    <div class="profile-header-main">
        <h1>{{ user.username }}
            {% if user.name %}
            <small>
                {{ user.name }}
            </small>
            {% endif %}
        </h1>
        <p>
        <h3>
            {{ user.email }}<br/>
            {% if user.location %}
            <a href="http://www.openstreetmap.org/search?query={{ user.location }}">{{ user.location }}</a><br/>
            {% endif %}
        </h3>
        </p>
        <p>
        <h4>
            {% if user.about_me %}
            {{ user.about_me }}<br/>
            {% endif %}
        </h4>
        </p>
        <p>
            <b>Joined at</b> {{ moment(user.member_since).format('LLL') }}<br/>
            <b>Last visited</b> {{ moment(user.last_seen).fromNow(refresh=True) }}
        </p>
        {% if current_user == user %}
        <a class="btn btn-primary" href="{{ url_for('main.edit_profile') }}" role="button">Edit Profile</a>
        {% endif %}
        {% if current_user.is_administrator() %}
        <a class="btn btn-danger" href="{{ url_for('main.admin_edit_profile',user_id=user.id) }}" role="button">Edit
            Profile[Admin]</a>
        {% endif %}
        {% if current_user.is_authenticated and current_user!=user %}
        {% if current_user.is_following(user) %}
        <a href="{{ url_for('main.unfollow',username=user.username) }}" class="btn btn-warning">UnFollow</a>
        {% else %}
        <a href="{{ url_for('main.follow',username=user.username) }}" class="btn btn-success">Follow</a>
        {% endif %}
        {% if user.is_following(current_user) %}
        &nbsp;&nbsp;|&nbsp;&nbsp;<span class="label label-info">I have followed you.</span>
        {% endif %}
        {% endif %}
    </div>
    <div class="profile-header-plug">
        <a href="#">Followers: <span class="badge">{{ user.idol_list.count() }}</span></a>,&nbsp;
        <a href="#">Following: <span class="badge">{{ user.fans_list.count() }}</span></a>
    </div>
    <div class="clear-float"></div>
</div>
<h3>Posts by {{ user.username }}</h3>
<div>
    {% include "article/_article_list.html" %}
    {% if pagination %}
    {{ page_widget.pagination_widget(pagination, 'main.user_profile', username=user.username) }}
    {% endif %}
</div>
{% endblock %}