{% extends "base.html" %}

{% block page_content %}
<div class="page-header">
    <h1>
        <span class="post-title">{{ post.title }}</span>
        <span class="post-info"><small>{{ post.author.name }}, {{ post.timestamp }}</small></span>
        <div class="clearfix"></div>
    </h1>
</div>
<div class="post-content">
    {% if post.content_html %}
    {{ post.content_html | safe }}
    {% else %}
    {{ post.content }}
    {% endif %}
</div><br/><br/>
<hr/>
<h2 id="comment">Comments</h2><br/>
<div class="comment-list">
    {% if current_user.is_authenticated and current_user.check_permit(Permit.comment) %}
    <div class="comment-form">
        {% import "bootstrap/wtf.html" as wtf %}
        {{ wtf.quick_form(form) }}
    </div>
    {% endif %}
    {% include "comment/_comment_list.html" %}
</div>
{% endblock %}