{% extends "base.html" %}

{% block page_content %}
<div class="page-header">
    <h1 class="post-title">{{ post.title }}</h1>
    <div class="post-info">
        <span>{{ post.timestamp }}</span><br/>
        <a href="{{ url_for('main.user_profile', username=post.author.username) }}">
            <img src="{{ post.author.make_gravatar_url(15) }}" alt="headImage">&nbsp;{{ post.author.username }}
        </a>
    </div>
    <div class="clearfix"></div>
</div>
<div class="post-content">
    {% if post.content_html %}
    {{ post.content_html | safe }}
    {% else %}
    {{ post.content }}
    {% endif %}
</div><br/><br/>
<hr/>
<h2 id="comment">Comments</h2><br/>
<div class="comment-list">
    {% if current_user.is_authenticated and current_user.check_permit(Permit.comment) %}
    <div class="comment-form">
        {% import "bootstrap/wtf.html" as wtf %}
        {{ wtf.quick_form(form) }}
    </div>
    {% endif %}
    {% include "comment/_comment_list.html" %}
</div>
{% endblock %}