{% extends "base.html" %}

{% import "_pagination.html" as page_widget %}

{% block page_content %}
<div class="page-header">
    <h1>Article List</h1>
</div>
<div>
    <ul class="nav nav-tabs" role="tablist">
        {% if current_user.is_authenticated %}
        {% if show_idol_cookie != '1' %}
        <li role="presentation" class="active"><a href="{{ url_for('main.show_all_article_list') }}">All</a></li>
        <li role="presentation"><a href="{{ url_for('main.show_idol_article_list') }}">Idol</a></li>
        {% else %}
        <li role="presentation"><a href="{{ url_for('main.show_all_article_list') }}">All</a></li>
        <li role="presentation" class="active"><a href="{{ url_for('main.show_idol_article_list') }}">Idol</a></li>
        {% endif %}
        {% else %}
        <li role="presentation" class="active"><a href="{{ url_for('main.show_all_article_list') }}">All</a></li>
        {% endif %}
    </ul>
    {% include "article/_article_list.html" %}
    {% if pagination %}
    {{ page_widget.pagination_widget(pagination, endpoint) }}
    {% endif %}
</div>
{% endblock %}