{% extends "bootstrap/base.html" %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" type="text/css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css">
{% endblock %}

{% block title %}「STARS」{% endblock %}

{% block navbar %}
{% block navbar_style %}
<nav class="navbar navbar-inverse" role="navigation">
    {% endblock %}
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">『STARS』</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('main.index') }}">Home</a></li>
                <li><a href="{{ url_for('main.show_article_list') }}">Article</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated and current_user.check_permit(Permit.manage_comment) %}
                <li><a href="{{ url_for('main.manage_comment') }}">Manage Comments</a></li>
                {% endif %}
                {% if current_user.is_authenticated %}
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        <img src="{{ current_user.make_gravatar_url(22) }}" alt="headImage">
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li style="text-align:center;"><b>hi,&nbsp;{{ current_user.username }}</b></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ url_for('main.user_profile',username=current_user.username) }}">
                            <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;My Profile</a></li>
                        <li><a href="{{ url_for('auth.change_password') }}">
                            <span class="glyphicon glyphicon-wrench"></span>&nbsp;&nbsp;Change Password</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ url_for('main.show_message_list', kind=0) }}">
                            <span class="glyphicon glyphicon-comment"></span>&nbsp;&nbsp;Message Box</a></li>
                        <li><a href="{{ url_for('main.write_article') }}">
                            <span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;Write Article</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ url_for('auth.logout') }}">
                            <span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;Sign Out</a>
                        </li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}"><span class="glyphicon glyphicon-log-in"></span> Sign In</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ message[0] }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
        <strong>{{ message[1] }}</strong>
    </div>
    {% endfor %}
    {% block page_content %}{% endblock %}
</div>
<div class="page-bottom-left"></div>
<footer>
    <div class="container">
        <p class="footer-links">
            <a href="">GitHub</a>
            <a href="">CSDN</a>
            <a href="">Contact</a>
            <a href="">About</a>
        </p>
        <br/>
        <p>the stars, our destination</p>
    </div>
</footer>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<!--<script src="{{ url_for('static', filename='js/moment-with-locales.min.js') }}"></script>-->
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script type="text/javascript" language="javascript">
$(document).ready(function(){
    function footerPosition(){
        $("footer").removeClass("fixed-footer");
        var contentHeight = document.body.scrollHeight,//网页正文全文高度
            windowHeight = window.innerHeight;//可视窗口高度，不包括浏览器顶部工具栏
        if(contentHeight <= windowHeight){
            //当网页正文高度小于可视窗口高度时，为footer添加类fixed-footer
            $("footer").addClass("fixed-footer");
        }else{
            $("footer").removeClass("fixed-footer");
        }
    }
    footerPosition();
    $(window).resize(footerPosition);
});
</script>
{% endblock %}