{% extends "bootstrap/base.html" %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" type="text/css">
{% endblock %}

{% block title %}「STARS」{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">『STARS』</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('main.index') }}">Home</a></li>
                <li><a href="{{ url_for('main.show_article_list') }}">Article</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated and current_user.check_permit(Permit.manage_comment) %}
                <li><a href="{{ url_for('main.manage_comment') }}">Manage Comments</a></li>
                {% endif %}
                {% if current_user.is_authenticated %}
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        <img src="{{ current_user.make_gravatar_url(22) }}" alt="headImage">
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('main.user_profile',username=current_user.username) }}">
                            <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;My Profile</a></li>
                        <li><a href="{{ url_for('auth.change_password') }}">
                            <span class="glyphicon glyphicon-wrench"></span>&nbsp;&nbsp;Change Password</a></li>
                        <li><a href="{{ url_for('main.show_message_list', kind=0) }}">
                            <span class="glyphicon glyphicon-comment"></span>&nbsp;&nbsp;Message Box</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ url_for('auth.logout') }}">
                            <span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;Sign Out</a>
                        </li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}"><span class="glyphicon glyphicon-log-in"></span> Sign In</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ message[0] }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
        <strong>{{ message[1] }}</strong>
    </div>
    {% endfor %}
    {% block page_content %}{% endblock %}
</div>
<div class="page-bottom-left"></div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}